<div class="container-fluid">
  <h3>Shirts</h3>
  <app-filter-by-gender (filterEv)="filter($event)"></app-filter-by-gender>
  <div class="row">
      <div class="col" *ngFor="let shirt of shirts | filter: filtergender">
          <div class="row img-thumbnail">
              <img [src]="shirt.image" class="img-fluid">
          </div>
          <div class="row img-thumbnail">
              <h3>{{shirt.name}}</h3>
              <p>Price:${{shirt.price}}USD</p>
              <p>Stock: {{shirt.stock}} available</p>
              <p>Details: {{shirt.detail}}</p>
              <p>Gender: {{shirt.genre?.genre}}</p>
              <div class="row">
                  <button class="btn btn-primary btn-success" (click)="addCart(shirt)">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add cart
                  </button>
              </div>
          </div>

      </div>
  </div>
</div>
