.container-fluid{
  border-radius: 12px;
  box-shadow: 0 0 12px rgb(58, 58, 58);
}
.text-sec{
  color: #005B4A;
}

.table-responsive{
  border-radius: 12px;
  box-shadow: 0 0 12px rgb(57, 57, 57);
}

.btn-amount{
  background-color: #005B4A;
  border: 1px solid  #005B4A;
  color: white;
}