.cat{
    position:relative;
    cursor: pointer;
}

.cat:hover::before{
    width: 100%;
    transform: width;
    transition: all 250ms ease-out;
}

.cat::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #aaffd0;
    content: '';
    transition: all 250ms ease-out;
}

