
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BTB e-com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="op1">Return to store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cart']" id="op2">Return to my cart</a>
            </li>

          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.username}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/sell']">Billing</a></li>
                    <li *ngIf="user.rol_id == 1"><a class="dropdown-item" [routerLink]="['/admin']">Dashboard</a>

                </ul>
            </li>
        </ul>
        </div>
      </div>
    </nav>
