<div class="container">

  <div class="row col-12 pt-4">
    <div class="col col-sm-12 col-md-6 col-lg-6">
      <div class="row col-12 text-light">
        <h1>Current payment</h1>
        <div class="row col-12">
          <div class="d-flex justify-content-between pb-4">
            <b>Total amount: </b><span>$ {{sale.total}} USD</span>
          </div>

        </div>
        <div class="row col-12">
          <div class="d-flex justify-content-between pb-4">
            <b class="fs-3"> Bill Summary</b><span class="fs-3">Price details</span>
          </div>
        </div>

        <div class="row col-12">
          <div class="d-flex justify-content-between">
            <b> Subtotal</b><span>$ {{sale.subtotal}} USD</span>
          </div>
        </div>

        <div class="row col-12">
          <div class="d-flex justify-content-between">
            <b>Tax (12%)</b><span>$ {{sale.taxIVA}} USD</span>
          </div>
        </div>
        <hr>
        <div class="row col-12">
          <div class="d-flex justify-content-between">
            <b>Total amount</b><span>$ {{sale.total}} USD</span>
          </div>
        </div>

      </div>
      <button class="btn btn-success mt-4 mb-4" *ngIf="sale.total>0" (click)="makeSale()">Make Payment</button>
    </div>

    <div class="col col-sm-12 col-md-6 col-lg-6">
      <h1>Bill history</h1>
      <div class="row col-12">
        <div class="d-flex justify-content-between">
          <b  class="fs-3">Date</b><b class="fs-3">Price</b>
        </div>
      </div>
      <div class="row col-12 text-primary" *ngFor="let h of history">
        <div class="d-flex justify-content-between">
          <span>{{h.saleDate}}</span><span>$ {{h.total}} USD</span>
        </div>
      </div>
    </div>
  </div>
</div>
