.container-fluid{
  background: rgb(248,192,119);
background: linear-gradient(39deg, rgba(248,192,119,1) 0%, rgba(255,148,10,0.2777485994397759) 100%);
  padding: 0!important;
}


.footer{
  background-color: #9c7162;
  color: white;
}

.text-sec{
  color: white;
}

.btn-outline-sec{
  border:1px solid white;
}


.btn:hover{
  background-color:rgb(248,192,119);
  color: black;
}


.link:hover{
  color: black;
}
