<div class="container-fluid">
  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer class="text-center" class="footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4"></section>
      <!-- Section: Social media -->

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About us</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-sec link">Our mision</a>
              </li>
              <li>
                <a href="#!" class="text-sec link">Our values</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Social media</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <!-- Facebook -->
                <a
                  class="btn btn-outline-sec text-sec btn-floating m-1"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                >Facebook</a>
                <!-- Twitter -->
                <a
                  class="btn btn-outline-sec text-sec btn-floating m-1"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                >Twitter</a>
                <!-- Instagram -->
                <a
                  class="btn btn-outline-sec text-sec btn-floating m-1"
                  href="#!"
                  role="button"
                  ><i class="fab fa-instagram"></i
                >Instagram</a>
                <a
                  class="btn btn-outline-sec text-sec btn-floating m-1"
                  href="#!"
                  role="button"
                >
                  <i class="fa-brands fa-tiktok"></i
                >Tiktok</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1)">
      Created By:
      <a class="text-sec link" href="https://github.com/dapacheco1/"
        ><i class="fa-brands fa-github"></i>Danny Pacheco</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
