<!-- SVG ICONS -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="container-fluid px-4 py-3">
  <div class="row register px-3 py-4 my-3 mx-3">
    <h1 class="text-center mb-3">Register form</h1>
      <div class="col-sm-12 col-md-6 col-lg-6 px-5">

        <fieldset>
          <legend>Personal data</legend>
          <div class="mb-3">
            <label for="name" class="form-label" >Name: </label>
            <input type="text"  name="name" class="form-control" [(ngModel)]="person.names">
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name: </label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="person.lastnames">
          </div>
          <div class="mb-3">
            <label for="identifier" class="form-label">Identifier Document: </label>
            <input type="text"  class="form-control" name="identifier" [(ngModel)]="person.identifierDocument">
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Gender: </label>
            <select class="form-select" aria-label="gender select" [(ngModel)]="gen.id">
              <option *ngFor="let gender of genders" [ngValue]="gender.id">{{gender.genre}}</option>
            </select>
          </div>
        </fieldset>

      <!-- error -->
        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!msgStatus && msgDataPerson!=''">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            {{msgDataPerson}}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 px-5">
        <fieldset>
          <legend>User data</legend>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" >
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
          </div>
        </fieldset>


        <!-- error -->
        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!msgStatus && msgDataUser!=''">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            {{msgDataUser}}
          </div>
        </div>

        <button type="button" class="btn btn-register me-3" (click)="registerUser()" >Create User</button>
        <button type="reset" class="btn btn-danger">Clear Form</button>

      </div>
  </div>

</div>

