<div class="container-fluid">
  <h3>Shoes</h3>
  <app-filter-by-gender (filterEv)="filter($event)"></app-filter-by-gender>

    <div class="row">
        <div class="col" *ngFor="let shoe of shoes | filter: filtergender" >
            <div class="row img-thumbnail">
                <img [src]="shoe.image" class="img-fluid">
            </div>
            <div class="row img-thumbnail">
                <h3>{{shoe.name}}</h3>
                <p>Price:${{shoe.price}}USD</p>
                <p>Stock: {{shoe.stock}} available</p>
                <p>Details: {{shoe.detail}}</p>
                <p>Gender: {{shoe.genre?.genre}}</p>
                <div class="row">
                    <button class="btn btn-primary btn-success" (click)="addCart(shoe)">
                      <i class="fa-solid fa-cart-plus"></i>
                      Add cart
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
