<div class="container-fluid">
    <div class="row my-4 bg-light" id="filter">
      <div class="col-12">
        <h3>Shoes</h3>
        <app-filter-by-gender (filterEv)="filter($event)" ></app-filter-by-gender>
      </div>
    </div>
  
      <div class="row">
          <div class="col-12 col-md-6 col-lg-3 mb-4" *ngFor="let clothe of  clothesAux | filter: filtergender;let i = index" >
              <div class="card w-100">
                  <div style="height: 275px; overflow: hidden;" class="w-100">
                      <img [src]="clothe.image" class="card-img-top" >
                  </div>
  
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12">
                              <h3>{{clothe.name}}</h3>
                              <div class="d-flex justify-content-between"><b>Price: </b> <span>${{clothe.price}}USD</span></div>
                              <div class="d-flex justify-content-between"><b>Stock:</b> <span>{{clothe.stock}} available</span></div>
                              <div class="d-flex justify-content-between"><b>Size:</b> <span>{{clothe.size.size}}</span></div>
                              <div class="d-flex justify-content-between"><b>Details:</b> <span>{{clothe.detail}}</span></div>
                              <div class="d-flex justify-content-between"><b>Gender:</b>
                                  <span>{{clothe.genre?.genre}}</span></div>
                              <div class="row col-12 mt-3">
                                <p *ngIf="clothe.stock==0" class="text-danger">*This product is sold out</p>
                                  <div class="input-group mb-3" *ngIf="clothe.stock!=0">
                                      <button class="input-group-text" class="btn btn-primary" id="basic-addon1" (click)="substract(i)">-</button>
                                      <input type="number" min="0" step="1" class="form-control" placeholder="Amount"
                                      aria-label="amount" aria-describedby="basic-addon1" [(ngModel)]="clothe.amount">
                                      <button class="input-group-text" class="btn btn-primary" id="basic-addon1" (click)="add(i)">+</button>
  
                                  </div>
                              </div>
                              <div class="row mt-3">
                                  <button class="btn btn-primary btn-success" (click)="addCart(clothe,i)" *ngIf="clothe.stock!=0">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    Add cart
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  