<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/img/c1.png"
        class="d-block w-100"
        style="height: 35%"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/img/c2.png"
        class="d-block w-100 h-50"
        style="height: 150px"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/img/c3.png"
        class="d-block w-100 h-50"
        style="height: 150px"
        alt="..."
      />
    </div>
  </div>
</div>

<div class="row my-5 pb-5">
  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="card w-100 my-card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <i class="fa-solid fa-truck fs-1"></i>
            <p>Free shipping</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="card w-100 my-card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <i class="fa-solid fa-rocket fs-1"></i>
            <p>Fast fullfilment</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="card w-100 my-card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <i class="fa-solid fa-box fs-1"></i>
            <p>Easy returns</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="card w-100 my-card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <i class="fa-solid fa-lock fs-1"></i>
            <p>Secure Checkout</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-5 mx-4 left text-dark">
    <h3>Our products</h3>
    <hr />
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, officiis
      reprehenderit. Minima ut odio explicabo est voluptate eligendi sit
      repellat molestiae qui, tempore assumenda dolorem corrupti sint voluptas!
      Molestiae, dolores.
    </section>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-6 mx-2 right">
    <h3>Our values</h3>
    <hr />
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos id
      repellendus! Est exercitationem dolor vero. Impedit fuga repellendus
      consequatur ea architecto. Nostrum error id eius suscipit est sequi sunt?
    </section>
  </div>
</div>
