<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
      src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1621283126-t-shirts-buckmason-black-slub-1621282639.jpg"
      class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.freddy.com/media/catalog/product/cache/22d8158d6986fded198295ee6d841327/P/P/PPANT247F0A_Z101_-_021615827137000.jpg"
      class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/medias/sys_master/root/20210701/yDIT/60dd6f5ef997ddb31216ec89/-473Wx593H-460897549-grey-MODEL.jpg"
      class="d-block w-100" alt="...">
    </div>
  </div>
</div>
