<div class="container-fluid">
  <div class="row">
    <div class="col-7 px-3 py-4 m-auto">
      <div class="bg-light px-5 py-5 form">
        <h3 class="mb-3 text-center">Register Clothing Form</h3>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="categories">Category: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="form-group">
              <select
                class="form-select"
                name="categories"
                (change)="filterSizesByCatId($event)"
              >
                <option value="">---</option>
                <option *ngFor="let cat of cats" [value]="cat.slug">
                  {{ cat.detail }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="size">Size: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="form-group">
              <select
                class="form-select"
                name="size"
                (change)="getSizeId($event)"
              >
                <option value="0">---</option>
                <option *ngFor="let sz of filteredSz" [value]="sz.id">
                  {{ sz.size }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="price">Price: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <input
              type="number"
              class="form-control"
              name="price"
              min="0"
              step="0.01"
              [(ngModel)]="clothe.price"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="stock">Stock: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <input
              type="number"
              class="form-control"
              name="stock"
              min="0"
              step="1"
              [(ngModel)]="clothe.stock"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="prodname">Product name: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <input
              type="text"
              class="form-control"
              name="prodname"
              [(ngModel)]="clothe.name"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="detail" class="form-label">Details: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <textarea
              class="form-control"
              name="detail"
              rows="3"
              [(ngModel)]="clothe.detail"
            ></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="gender">Gender: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="form-group">
              <select
                class="form-select"
                name="Gender"
                (change)="getGenderId($event)"
              >
                <option value="0">---</option>
                <option *ngFor="let gen of genders" [value]="gen.id">
                  {{ gen.genre }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="img">Image URL: </label>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <input
              type="text"
              class="form-control"
              name="img"
              [(ngModel)]="clothe.image"
            />
          </div>
        </div>
        <div class="row mb-3" *ngIf="clothe.image != ''">
          <div class="col-sm-12">
            <img class="img-fluid" [src]="clothe.image" alt="img_uploaded" />
          </div>
        </div>
        <button type="reset" class="btn btn-danger" (click)="resetForm()">
          Reset Form
        </button>
        <button class="btn btn-success" (click)="saveClothe()">
          Save Product
        </button>
      </div>
    </div>
      <div class="row">
        <div class="col-12 mx-3 my-3">
          <h3 class="text-sec"> <span><i class="fa-solid fa-filter"></i></span> Inventory Filters </h3>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mx-3 my-3">
          <label for="genders" class="form-label text-sec">Genders</label>
          <select class="form-select" aria-label="Default select example" name="genders" (change)="filter($event)" >
            <option value="" selected>All genders</option>
            <option *ngFor="let gen of genders" [value]="gen.genre">{{gen.genre}}</option>

          </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mx-3 my-3">
          <label for="categories" class="form-label text-sec">Categories</label>
          <select class="form-select" aria-label="Default select example" name="categories" (change)="filterCat($event)" >
            <option value="" selected>All categories</option>
            <option *ngFor="let cat of cats" [value]="cat.detail">{{cat.detail}}</option>

          </select>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mx-4 my-3">
          <button class="btn btn-sec mt-4" (click)="renderInventory()">See Inventory</button>
          <input  type="button" name="download" class="btn btn-download mt-4" value="Download PDF" (click)="convertToPDF()" />

        </div>

      </div>

    <div class="col-12-px-3 py-4 overflow-auto " id="inventoryProds">
      <div class="table-responsive mx-3 my-3 bg-light px-5 py-4">
        <div class="col-12">
          <div class="row mt-4">
            <div class="col-12 text-center">
              <img src="../../../../assets/img/mylogo.png" alt="btblogo" width="100" height="100" >
            </div>
            <div class="col-12 text-center">
              <h3>Inventory at {{today}}</h3>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Category</th>
              <th scope="col">Product</th>
              <th scope="col">Image</th>
              <th scope="col">Stock</th>
              <th scope="col">Price</th>
              <th scope="col">Size</th>
              <th scope="col">Gender</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pagination | filterCategory:filtercat |filter:filtergender; let i = index;">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.category?.detail }}</td>
              <td>{{ item.name }}</td>
              <td>
                <img
                  [src]="item.image"
                  [alt]="item.name"
                  width="70"
                  height="70"
                />
              </td>
              <td>{{ item.stock }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.size?.size }}</td>
              <td>{{ item.genre?.genre }}</td>
              <td>
                <div class="row mt-4">
                  <div class="col-12">
                    <button
                    class="btn btn-download"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#clothes' + i"
                  >
                    <i class="fa-solid fa-eye"></i>
                  </button>
                  <app-modal-details
                    [modalId]="'clothes' + i"
                    [details]="item.name"
                    [created_at]="item.created_at"
                    [updated_at]="item.updated_at"
                  ></app-modal-details>

                  <button class="btn btn-sec" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#edit'+i">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <app-modal-edit-clothing
                  [modalId]="'edit' + i" [clothe]="item"></app-modal-edit-clothing>


                  <button
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    (click)="assignId(item.id)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <app-modal-message
                    [msg]="msg"
                    [id]="asId"
                    [action]="2"
                    (deleted)="isDeleted($event)"
                  ></app-modal-message>
                  </div>


                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
