<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5 px-3 py-4">
            <div class="bg-light px-4 py-4 form">
                <h3 class="mb-3 text-center">Register Clothing Form</h3>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="categories">Category: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="form-group">
                            <select class="form-select" name="categories" (change)="filterSizesByCatId($event)">
                                <option value="">---</option>
                                <option *ngFor="let cat of cats" [value]="cat.slug">{{cat.detail}}</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="size">Size: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="form-group">
                            <select class="form-select" name="size" (change)="getSizeId($event)">
                                <option value="0">---</option>
                                <option *ngFor="let sz of filteredSz" [value]="sz.id">{{sz.size}}</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="price">Price: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="number" class="form-control" name="price" min="0" step="0.01" [(ngModel)]="clothe.price">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="stock">Stock: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="number" class="form-control" name="stock" min="0" step="1" [(ngModel)]="clothe.stock">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="prodname">Product name: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="text" class="form-control" name="prodname" [(ngModel)]="clothe.name">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="detail" class="form-label">Details: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <textarea class="form-control" name="detail" rows="3" [(ngModel)]="clothe.detail"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="size">Gender: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="form-group">
                            <select class="form-select" name="Gender" (change)="getGenderId($event)">
                                <option value="0">---</option>
                                <option *ngFor="let gen of genders" [value]="gen.id">{{gen.genre}}</option>
                              </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="status">Status: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="form-group">
                            <select class="form-select" name="status" >
                                <option value="">---</option>
                                <option value="A">Active</option>
                                <option value="I">Inactive</option>
                              </select>
                        </div>
                    </div>
                </div> -->
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="img">Image URL: </label>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="text" class="form-control" name="img" [(ngModel)]="clothe.image">
                    </div>
                </div>
                <div class="row mb-3" *ngIf="clothe.image!=''">
                    <div class="col-sm-12">
                        <img  class="img-fluid" [src]="clothe.image" alt="img_uploaded">
                    </div>
                </div>
                <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset Form</button>
                <button class="btn btn-success" (click)="saveClothe()">Save Product</button>

              </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 px-3 py-4 overflow-auto">
            <div class="bg-light px-4 py-4 form">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-md-4" *ngFor="let inv of inventory">
                        <div class="card" style="width: auto;">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <img [src]="inv.image" class="card-img-top" alt="...">
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{inv.name}}</h5>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <span> <b>Category</b> </span>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                {{inv.category?.detail}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <span> <b>Price:</b> </span>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <small>$ {{inv.price}}</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <span> <b>Size:</b> </span>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                {{inv.size?.size}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <span> <b>Stock:</b> </span>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                {{inv.stock}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <span> <b>Gender: </b> </span>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                {{inv.genre?.genre}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <span> <b>Status:</b> </span>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                {{inv.status}}
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-4">
                                                <button class="btn btn-primary">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary">
                                                    <i class="fa-solid fa-pencil"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-danger">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>


                          </div>
                    </div>


                </div>
                <div class="row ">
                  <div class="col-12 d-flex justify-content-center">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item page"><a class="page-link" (click)="prev()">Previous Items</a></li>
                          <li class="page-item page"><a class="page-link" (click)="next()">Next Items</a></li>
                        </ul>
                      </nav>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
